.post-container {
  margin-bottom: 4rem;
}

.post-content {
  padding: 2rem;
}

.post-title {
  font-size: 2rem;
}

.post-info-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post-info {
  font-size: 14px;
}

.title-link {
  color: black;
  text-decoration: none;
}

p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h2 {
  margin-top: 4rem;
}

.anchor {
  margin-top: -150px;
  padding-top: 150px;
}

.paragraph {
  margin-top: 2rem;
}

.video-container {
  position: relative;
  box-sizing: content-box;
  width: 100%;
  padding-bottom: 56.25%;
  margin-top: 2rem;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.non-menu-list {
  list-style: disc inside none;
}
